<div class="header">
  <div class="logo">
    <img class="logotipo" src="../assets/brand-logo-white.png" alt="logo">
  </div>
  <div class="botones">
    <div *ngIf="auth.logedIn()">
      <a class="registro" routerLink="/registro">Registration Creation</a>
      <a class="sesion" style="margin-left: 10px;cursor: pointer;" (click)="auth.logOut()">Log out</a>
    </div>
  </div>
</div>
<nav *ngIf="auth.logedIn()">
  <input type="checkbox" id="click">
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li>
      <a routerLink="/cursos-y-talleres">Registered users</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
